# Guns in USA

https://www.atf.gov/resource-center/data-statistics

In [1]:
import pandas as pd
import numpy as np

data from: https://fivethirtyeight.com/features/gun-deaths-about/

In [6]:
df = pd.read_csv("full_data.csv", index_col = 0)

In [7]:
df.head()

,year,month,intent,police,sex,age,race,hispanic,place,education
1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED

Different categories or types of gun deaths

In [8]:
df["intent"].unique()

array(['Suicide', 'Undetermined', 'Accidental', 'Homicide', nan],
      dtype=object)

In [9]:
df["race"].unique()

array(['Asian/Pacific Islander', 'White',
       'Native American/Native Alaskan', 'Black', 'Hispanic'],
      dtype=object)

In [11]:
df.dtypes

year           int64
month          int64
intent        object
police         int64
sex           object
age          float64
race          object
hispanic       int64
place         object
education     object
dtype: object

In [12]:
df.describe(include="object")

         intent     sex    race  place education
count    100797  100798  100798  99414     99376
unique        4       2       5     10         4
top     Suicide       M   White   Home    HS/GED
freq      63175   86349   66237  60486     42927