# Guns in USA

https://www.atf.gov/resource-center/data-statistics

In [1]:
import pandas as pd
import numpy as np
import sidetable
import matplotlib.pyplot as plt
import seaborn as sns

<font color= "cian"> data from: https://fivethirtyeight.com/features/gun-deaths-about/

<font color= "cian"> Loading the data

In [2]:
df = pd.read_csv("full_data.csv", index_col = 0)

<font color= "cian"> Exploring the data: I want to explore the shape of our dataframe(df), unique values, typo errors, types of data, columns...

In [3]:
df.head()

,year,month,intent,police,sex,age,race,hispanic,place,education
1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED

In [59]:
df.columns

Index(['year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic',
       'place', 'education'],
      dtype='object')

`year`  year of the event
`month`  month of the event
`intent` : 'Suicide','Undetermined','Accidental','Homicide'
`police` :   '0', '1'
`sex`: 'M', 'F'
`age`: 0-107
`race`: 'Asian/Pacific Islander' 'White' 'Native American/Native Alaskan' 'Black' 'Hispanic'
`hispanic`: identification number for coding race 
`place`: 'Home' 'Street' 'Other specified' 'Other unspecified'  'Trade/service area' 'Farm' 'Industrial/construction' 'School/instiution'  'Sports' 'Residential institution'->
`education`: 'BA+' 'Some college' 'HS/GED' 'Less than HS'

In [4]:
df.shape

(100798, 10)

In [5]:
df.dtypes

year           int64
month          int64
intent        object
police         int64
sex           object
age          float64
race          object
hispanic       int64
place         object
education     object
dtype: object

<font color= "cian"> All the types look correctly.

<font color= "cian"> Exploring nulls

In [6]:
percent_missing = pd.DataFrame(df.isna().sum()*100 / len(df))
percent_missing

                  0
year       0.000000
month      0.000000
intent     0.000992
police     0.000000
sex        0.000000
age        0.017857
race       0.000000
hispanic   0.000000
place      1.373043
education  1.410742

<font color= "cian">

<font color= "cian"> I assume that this 1% of nulls is not so much, then I will eliminate them.

In [7]:
df.dropna(inplace= True)

In [9]:
# Check if there are nans after clean them
percent_missing = pd.DataFrame(df.isna().sum()*100 / len(df))
percent_missing

             0
year       0.0
month      0.0
intent     0.0
police     0.0
sex        0.0
age        0.0
race       0.0
hispanic   0.0
place      0.0
education  0.0

<font color= "cian"> Are there duplicates?

In [10]:
df.duplicated().sum()*100/len(df)

39.190940162220066

<font color= "cian"> We have many duplicates but is logical because of the type our data. I decide to maintain them.

<font color= "cian"> The columns of our dataset

In [11]:
df.columns

Index(['year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic',
       'place', 'education'],
      dtype='object')

<font color= "cian"> Different categories or types of gun deaths (unique values)

In [12]:
for col in df.columns:
    print("\n In the variable ----------> ", col,"----- > These are the unique values:  ", df[col].unique())

 In the variable ---------->  year ----- > These are the unique values:   [2012 2013 2014]

 In the variable ---------->  month ----- > These are the unique values:   [ 1  2  3  4  5  6  7  8  9 10 11 12]

 In the variable ---------->  intent ----- > These are the unique values:   ['Suicide' 'Undetermined' 'Accidental' 'Homicide']

 In the variable ---------->  police ----- > These are the unique values:   [0 1]

 In the variable ---------->  sex ----- > These are the unique values:   ['M' 'F']

 In the variable ---------->  age ----- > These are the unique values:   [ 34.  21.  60.  64.  31.  17.  48.  41.  50.  30.  43.  27.  55.  53.
  51.  65.  52.  47.  19.  22.  56.  38.  25.  26.  23.  87.  28.  39.
  59.  61.  12.  40.  57.  20.  62.  71.  44.  29.  24.   9.  77.  18.
  36.  49.  13.  33.  90.  63.  46.  32.  84.  68.  89.  58.  78.  66.
  81.  54.  45.  37.  35.  42.  67.  69.  72.  82.  75.  73.  15.  83.
  74.  86.  16.  88.  80.  79.  91.  76.  14.  95.  96.  70.   7.  85.
  93.   4.   1.  92.  97.   3.   2.  94.  11.   8.   6.   0.  99.  10.
  98.   5. 102. 107. 101.]

 In the variable ---------->  race ----- > These are the unique values:   ['Asian/Pacific Islander' 'White' 'Native American/Native Alaskan' 'Black'
 'Hispanic']

 In the variable ---------->  hispanic ----- > These are the unique values:   [100 281 211 261 210 222 282 260 998 231 237 200 223 270 226 275 250 234
 280 227 224 286 233 271 220 225 235 242 212 221 239 299 232 291 217 252
 209 238 218]

 In the variable ---------->  place ----- > These are the unique values:   ['Home' 'Street' 'Other specified' 'Other unspecified'
 'Trade/service area' 'Farm' 'Industrial/construction' 'School/instiution'
 'Sports' 'Residential institution']

 In the variable ---------->  education ----- > These are the unique values:   ['BA+' 'Some college' 'HS/GED' 'Less than HS']

<font color= "red"> Investigate what is each column and their values. Hispanic? Looking for the information about 'hispanic' I found that it is the identification number to categorize the variable `race`

In [58]:
df["hispanic"].unique()

array([100, 281, 211, 261, 210, 222, 282, 260, 998, 231, 237, 200, 223,
       270, 226, 275, 250, 234, 280, 227, 224, 286, 233, 271, 220, 225,
       235, 242, 212, 221, 239, 299, 232, 291, 217, 252, 209, 238, 218],
      dtype=int64)

In [13]:
df.describe()

               year         month        police           age      hispanic
count  98015.000000  98015.000000  98015.000000  98015.000000  98015.000000
mean    2013.000561      6.567780      0.000194     43.900209    112.420650
std        0.816136      3.406984      0.013922     19.522908     49.320698
min     2012.000000      1.000000      0.000000      0.000000    100.000000
25%     2012.000000      4.000000      0.000000     27.000000    100.000000
50%     2013.000000      7.000000      0.000000     42.000000    100.000000
75%     2014.000000      9.000000      0.000000     58.000000    100.000000
max     2014.000000     12.000000      1.000000    107.000000    998.000000

<font color= "cian"> We have to investigate what each variable is

In [14]:
df.describe(include="object")

         intent    sex   race  place education
count     98015  98015  98015  98015     98015
unique        4      2      5     10         4
top     Suicide      M  White   Home    HS/GED
freq      62291  83835  64598  59622     42258

<font color= "cian"> I explore outliers

In [15]:
# I select only the numerical variables
df_num = df.select_dtypes(include = np.number)
df_num.head()

   year  month  police   age  hispanic
1  2012      1       0  34.0       100
2  2012      1       0  21.0       100
3  2012      1       0  60.0       100
4  2012      2       0  64.0       100
5  2012      2       0  31.0       100

In [135]:
# Select just the categorical variables
df_categ = df.select_dtypes(include= "object")
df_categ.head()

    intent sex                    race            place     education
1  Suicide   M  Asian/Pacific Islander             Home           BA+
2  Suicide   F                   White           Street  Some college
3  Suicide   M                   White  Other specified           BA+
4  Suicide   M                   White             Home           BA+
5  Suicide   M                   White  Other specified        HS/GED

In [137]:
df_num.columns

Index(['year', 'month', 'police', 'age', 'hispanic'], dtype='object')

In [38]:
#function to know outliers in all our dataset
def outliers(columns_df, df):

    dict_outliers = {}
    for col in columns_df:
        
        q1 = np.percentile(df[col],25) #calculate quartiles
        q3 = np.percentile(df[col],75)

        iqr = q3 - q1 #calculate interquartile range

        outliers_sep = iqr * 1.5 # Calculate the whiskers of the box plot

        outliers_data = df[(df[col] < q1 - outliers_sep) | (df[col] > q3 + outliers_sep)] #filtering our data to know what specifics values are outliers

        if outliers_data.shape[0] > 0:
            dict_outliers[col] = list(outliers_data.index)
    
    return dict_outliers

In [39]:
columns_df = df_num.columns.tolist()
columns_df

['year', 'month', 'police', 'age', 'hispanic']

In [ ]:
index = outliers(columns_df, df_num)
index

In [49]:
index.items()

dict_items([('police', [2604, 4169, 5345, 10689, 21118, 22884, 22916, 36431, 38713, 44159, 45870, 56263, 56800, 66395, 72125, 77725, 84163, 85259, 99080]), ('age', [34903]), ('hispanic', [94, 103, 158, 192, 258, 604, 826, 863, 906, 907, 908, 931, 1096, 1097, 1107, 1170, 1216, 1301, 1326, 1330, 1348, 1353, 1411, 1435, 1450, 1458, 1462, 1480, 1488, 1494, 1501, 1502, 1508, 1517, 1535, 1538, 1544, 1545, 1552, 1565, 1574, 1580, 1584, 1632, 1634, 1636, 1637, 1640, 1648, 1655, 1658, 1664, 1675, 1676, 1681, 1682, 1686, 1688, 1690, 1693, 1697, 1700, 1703, 1710, 1717, 1723, 1732, 1742, 1755, 1758, 1762, 1780, 1798, 1799, 1813, 1817, 1822, 1828, 1829, 1842, 1846, 1849, 1852, 1854, 1857, 1859, 1862, 1863, 1867, 1869, 1870, 1871, 1872, 1874, 1880, 1883, 1895, 1905, 1910, 1921, 1923, 1927, 1928, 1937, 1949, 1954, 1958, 1967, 1980, 1985, 1986, 1993, 1995, 2004, 2005, 2010, 2011, 2014, 2017, 2032, 2034, 2037, 2038, 2044, 2046, 2047, 2057, 2059, 2071, 2081, 2084, 2088, 2093, 2095, 2100, 2105, 2107, 2108, 2118, 2126, 2138, 2141, 2153, 2157, 2158, 2175, 2178, 2186, 2191, 2193, 2195, 2200, 2201, 2204, 2212, 2214, 2227, 2230, 2236, 2240, 2248, 2256, 2257, 2263, 2264, 2268, 2269, 2272, 2284, 2286, 2290, 2309, 2310, 2318, 2329, 2341, 2346, 2349, 2351, 2352, 2353, 2370, 2373, 2375, 2376, 2384, 2387, 2388, 2395, 2399, 2400, 2405, 2413, 2416, 2417, 2420, 2437, 2454, 2459, 2463, 2467, 2468, 2471, 2474, 2476, 2478, 2482, 2485, 2487, 2490, 2491, 2492, 2493, 2494, 2497, 2503, 2504, 2514, 2517, 2523, 2529, 2530, 2534, 2535, 2541, 2544, 2549, 2555, 2559, 2566, 2571, 2576, 2577, 2580, 2582, 2585, 2589, 2591, 2596, 2598, 2600, 2601, 2602, 2613, 2615, 2616, 2620, 2623, 2625, 2628, 2636, 2639, 2640, 2643, 2644, 2645, 2647, 2651, 2658, 2660, 2661, 2662, 2663, 2666, 2669, 2671, 2675, 2677, 2678, 2686, 2688, 2689, 2700, 2701, 2706, 2708, 2714, 2718, 2720, 2732, 2734, 2740, 2741, 2744, 2750, 2760, 2764, 2782, 2785, 2788, 2789, 2796, 2799, 2807, 2808, 2810, 2812, 2816, 2823, 2826, 2828, 2831, 2833, 2834, 2835, 2840, 2843, 2849, 2850, 2851, 2854, 2857, 2859, 2864, 2870, 2872, 2874, 2879, 2881, 2893, 2894, 2904, 2907, 2909, 2915, 2919, 2921, 2922, 2941, 2942, 2947, 2955, 2957, 2958, 2966, 2968, 2971, 2987, 2988, 2990, 2991, 3004, 3008, 3011, 3012, 3013, 3015, 3022, 3024, 3025, 3027, 3050, 3053, 3060, 3063, 3064, 3066, 3074, 3084, 3089, 3090, 3096, 3098, 3099, 3102, 3111, 3114, 3117, 3119, 3120, 3121, 3127, 3130, 3132, 3139, 3140, 3144, 3145, 3146, 3148, 3155, 3158, 3159, 3164, 3168, 3176, 3181, 3188, 3190, 3201, 3202, 3214, 3220, 3225, 3227, 3239, 3244, 3252, 3263, 3271, 3285, 3288, 3290, 3291, 3294, 3309, 3310, 3313, 3317, 3319, 3320, 3321, 3323, 3324, 3332, 3333, 3335, 3336, 3342, 3346, 3349, 3351, 3354, 3356, 3363, 3375, 3376, 3377, 3378, 3385, 3386, 3391, 3397, 3398, 3406, 3407, 3408, 3418, 3419, 3420, 3422, 3423, 3426, 3427, 3428, 3432, 3434, 3435, 3438, 3439, 3443, 3449, 3456, 3469, 3470, 3476, 3478, 3484, 3491, 3493, 3496, 3497, 3502, 3503, 3510, 3512, 3514, 3517, 3519, 3520, 3521, 3522, 3523, 3528, 3536, 3537, 3541, 3543, 3545, 3551, 3555, 3564, 3571, 3572, 3584, 3601, 3605, 3610, 3612, 3617, 3623, 3626, 3630, 3631, 3633, 3640, 3641, 3647, 3648, 3650, 3651, 3652, 3658, 3670, 3674, 3676, 3677, 3678, 3680, 3685, 3690, 3699, 3707, 3709, 3712, 3717, 3718, 3720, 3721, 3722, 3733, 3735, 3746, 3748, 3750, 3752, 3753, 3755, 3756, 3758, 3761, 3763, 3765, 3766, 3772, 3777, 3781, 3785, 3789, 3796, 3800, 3802, 3803, 3804, 3807, 3811, 3813, 3814, 3815, 3816, 3818, 3821, 3828, 3831, 3832, 3840, 3842, 3844, 3845, 3860, 3861, 3868, 3877, 3878, 3879, 3880, 3885, 3889, 3890, 3892, 3903, 3908, 3911, 3912, 3913, 3914, 3921, 3933, 3938, 3945, 3949, 3951, 3959, 3964, 3965, 3968, 3969, 3980, 3983, 3987, 3992, 3994, 4006, 4008, 4011, 4013, 4020, 4021, 4024, 4025, 4027, 4029, 4037, 4052, 4055, 4056, 4057, 4058, 4060, 4062, 4067, 4069, 4070, 4073, 4078, 4090, 4098, 4099, 4101, 4103, 4104, 4108, 4109, 4111, 4114, 4116, 4120, 4121, 4122, 4125, 4128, 4129, 4136, 4137, 4149, 4150, 4157, 4159, 4161, 4164, 4166, 4169, 4170, 4174, 4176, 4186, 4195, 4200, 4202, 4207, 4213, 4214, 4222, 4226, 4229, 4230, 4231, 4236, 4237, 4238, 4240, 4243, 4246, 4254, 4264, 4271, 4272, 4276, 4279, 4282, 4289, 4297, 4300, 4302, 4303, 4304, 4307, 4313, 4327, 4328, 4330, 4331, 4334, 4336, 4339, 4340, 4341, 4342, 4343, 4348, 4349, 4350, 4352, 4355, 4358, 4359, 4364, 4370, 4377, 4381, 4393, 4401, 4402, 4406, 4408, 4413, 4422, 4427, 4429, 4430, 4438, 4439, 4440, 4444, 4446, 4447, 4448, 4450, 4458, 4459, 4461, 4462, 4463, 4465, 4469, 4477, 4479, 4481, 4484, 4486, 4503, 4504, 4508, 4509, 4513, 4515, 4516, 4523, 4530, 4533, 4537, 4539, 4545, 4548, 4550, 4551, 4552, 4560, 4561, 4574, 4577, 4579, 4586, 4598, 4599, 4605, 4614, 4621, 4625, 4629, 4633, 4634, 4642, 4645, 4646, 4652, 4656, 4661, 4662, 4666, 4669, 4680, 4681, 4682, 4688, 4689, 4690, 4695, 4697, 4699, 4701, 4707, 4711, 4713, 4714, 4715, 4718, 4730, 4732, 4734, 4743, 4748, 4752, 4753, 4758, 4759, 4761, 4765, 4771, 4774, 4776, 4777, 4778, 4795, 4798, 4799, 4801, 4803, 4809, 4812, 4813, 4814, 4816, 4818, 4820, 4821, 4823, 4825, 4829, 4832, 4834, 4835, 4836, 4837, 4842, 4843, 4845, 4848, 4849, 4854, 4855, 4856, 4860, 4864, 4866, 4872, 4874, 4877, 4884, 4886, 4889, 4895, 4896, 4901, 4913, 4914, 4917, 4919, 4920, 4924, 4930, 4934, 4944, 4947, 4949, 4965, 4967, 4975, 4976, 4977, 4984, 4986, 4987, 4992, 4993, 4997, 4998, 5003, 5004, 5016, 5019, 5023, 5024, 5026, 5030, 5034, 5035, 5040, 5041, 5048, 5054, 5055, 5057, 5063, 5064, 5071, 5075, 5080, 5081, 5082, 5084, 5086, 5090, 5094, 5096, 5099, 5105, 5108, 5111, 5114, 5115, 5117, 5120, 5122, 5127, 5130, 5131, 5136, 5137, 5138, 5140, 5149, 5150, 5156, 5169, 5170, 5172, 5174, 5178, 5190, 5195, 5205, 5207, 5209, 5216, 5217, 5220, 5222, 5231, 5232, 5234, 5235, 5236, 5242, 5244, 5247, 5250, 5257, 5258, 5259, 5260, 5264, 5265, 5268, 5274, 5290, 5301, 5302, 5303, 5307, 5310, 5311, 5315, 5319, 5321, 5322, 5325, 5328, 5332, 5340, 5342, 5346, 5348, 5354, 5356, 5357, 5358, 5363, 5373, 5378, 5388, 5391, 5392, 5404, 5407, 5410, 5411, 5415, 5417, 5418, 5422, 5424, 5429, 5437, 5439, 5442, 5444, 5453, 5460, 5472, 5485, 5486, 5488, 5540, 5544, 5555, 5559, 5562, 5571, 5577, 5587, 5597, 5599, 5601, 5604, 5613, 5615, 5637, 5641, 5655, 5658, 5659, 5662, 5667, 5690, 5691, 5695, 5703, 5709, 5713, 5718, 5722, 5725, 5739, 5740, 5745, 5746, 5756, 5779, 5787, 5790, 5803, 5806, 5809, 5812, 5813, 5814, 5835, 5849, 5861, 5871, 5874, 5875, 5895, 5901, 5915, 5917, 5925, 5932, 5960, 5961, 5964, 5967, 5969, 5999, 6008, 6010, 6023, 6031, 6043, 6044, 6058, 6059, 6071, 6072, 6073, 6086, 6093, 6106, 6107, 6108, 6114, 6116, 6122, 6137, 6141, 6154, 6155, 6156, 6184, 6186, 6193, 6202, 6203, 6204, 6209, 6216, 6225, 6230, 6231, 6245, 6246, 6266, 6269, 6293, 6294, 6311, 6323, 6339, 6342, 6383, 6390, 6409, 6426, 6479, 6488, 6499, 6501, 6504, 6513, 6522, 6529, 6537, 6538, 6539, 6559, 6568, 6571, 6600, 6615, 6616, 6642, 6646, 6647, 6649, 6660, 6679, 6680, 6693, 6718, 6719, 6720, 6728, 6729, 6751, 6771, 6775, 6805, 6811, 6826, 6827, 6842, 6850, 6859, 6865, 6872, 6877, 6896, 6924, 6926, 6927, 6938, 6947, 6952, 6974, 6995, 6996, 7018, 7042, 7058, 7066, 7067, 7073, 7086, 7091, 7092, 7096, 7097, 7105, 7106, 7113, 7116, 7118, 7126, 7135, 7143, 7148, 7152, 7155, 7171, 7173, 7185, 7187, 7192, 7193, 7196, 7197, 7202, 7213, 7218, 7224, 7236, 7244, 7246, 7255, 7259, 7263, 7274, 7275, 7276, 7277, 7282, 7291, 7297, 7298, 7299, 7300, 7303, 7307, 7312, 7315, 7321, 7325, 7329, 7332, 7333, 7339, 7340, 7341, 7342, 7344, 7354, 7362, 7381, 7402, 7418, 7468, 7489, 7490, 7524, 7579, 7580, 7611, 7628, 7636, 7681, 7717, 7719, 7759, 7764, 7784, 7800, 7801, 7810, 7816, 7824, 7838, 7848, 7870, 7873, 7895, 7899, 7901, 7924, 7941, 7992, 8019, 8026, 8038, 8039, 8062, 8067, 8073, 8082, 8086, 8096, 8098, 8130, 8136, 8148, 8174, 8210, 8219, 8224, 8244, 8261, 8272, 8273, 8283, 8289, 8295, 8296, 8300, 8316, 8318, 8335, 8350, 8354, 8359, 8400, 8412, 8425, 8440, 8461, 8464, 8469, 8491, 8499, 8500, 8502, 8507, 8545, 8552, 8553, 8556, 8564, 8571, 8573, 8576, 8600, 8609, 8617, 8626, 8627, 8637, 8640, 8647, 8652, 8662, 8668, 8680, 8682, 8684, 8700, 8705, 8706, 8708, 8730, 8734, 8737, 8744, 8746, 8747, 8769, 8779, 8780, 8781, 8794, 8798, 8801, 8826, 8827, 8836, 8845, 8851, 8853, 8869, 8871, 8873, 8880, 8892, 8894, 8899, 8906, 8908, 8912, 8913, 8916, 8917, 8926, 8956, 8957, 9020, 9039, 9132, 9174, 9179, 9205, 9234, 9263, 9319, 9331, 9338, 9371, 9405, 9458, 9500, 9507, 9556, 9573, 9574, 9577, 9696, 9701, 9712, 9840, 9857, 9904, 9905, 9972, 9975, 9990, 10003, 10062, 10087, 10111, 10116, 10128, 10167, 10238, 10278, 10289, 10302, 10303, 10305, 10455, 10482, 10525, 10531, 10541, 10555, 10566, 10570, 10599, 10600, 10606, 10613, 10621, 10639, 10640, 10671, 10727, 10733, 10751, 10756, 10761, 10763, 10769, 10795, 10818, 10827, 10834, 10853, 10863, 10865, 10870, 10884, 10903, 10915, 10924, 10928, 10932, 10935, 10940, 10941, 10959, 10960, 10970, 10987, 10994, 11004, 11007, 11045, 11052, 11053, 11056, 11059, 11069, 11085, 11086, 11109, 11119, 11124, 11141, 11143, 11146, 11150, 11153, 11172, 11178, 11185, 11207, 11219, 11220, 11244, 11246, 11252, 11267, 11271, 11272, 11286, 11293, 11305, 11308, 11310, 11318, 11319, 11324, 11332, 11335, 11344, 11352, 11357, 11365, 11393, 11410, 11424, 11447, 11463, 11469, 11479, 11483, 11489, 11511, 11516, 11528, 11536, 11549, 11570, 11575, 11587, 11601, 11617, 11624, 11681, 11699, 11722, 11727, 11754, 11760, 11763, 11765, 11775, 11802, 11807, 11816, 11817, 11822, 11832, 11861, 11872, 11878, 11906, 11916, 11943, 11983, 11988, 12015, 12026, 12096, 12112, 12126, 12283, 12286, 12293, 12420, 12464, 12465, 12484, 12487, 12548, 12549, 12560, 12609, 12610, 12628, 12719, 12720, 12762, 12766, 12777, 12785, 12815, 12816, 12818, 12836, 12860, 12885, 12887, 12911, 12919, 12935, 12952, 12953, 12957, 12958, 12965, 12971, 12984, 12992, 12998, 13013, 13045, 13047, 13048, 13060, 13224, 13242, 13338, 13417, 13420, 13479, 13553, 13764, 13782, 13901, 13946, 13991, 14057, 14261, 14399, 14432, 14434, 14530, 14531, 14535, 14546, 14549, 14556, 14558, 14566, 14568, 14573, 14576, 14577, 14583, 14608, 14609, 14633, 14640, 14641, 14651, 14657, 14679, 14696, 14703, 14704, 14705, 14724, 14737, 14853, 14920, 14991, 15010, 15016, 15036, 15043, 15044, 15062, 15089, 15112, 15116, 15169, 15173, 15187, 15222, 15268, 15286, 15289, 15291, 15315, 15340, 15349, 15351, 15353, 15385, 15692, 15716, 15730, 15770, 15828, 15862, 15906, 15944, 15994, 16052, 16120, 16142, 16153, 16162, 16186, 16240, 16247, 16249, 16293, 16294, 16314, 16315, 16316, 16319, 16337, 16349, 16378, 16401, 16499, 16520, 16525, 16526, 16602, 16609, 16616, 16687, 16705, 16858, 16875, 16890, 16936, 16972, 17000, 17117, 17166, 17210, 17211, 17228, 17259, 17281, 17345, 17352, 17356, 17363, 17388, 17483, 17498, 17531, 17532, 17641, 17665, 17684, 17685, 17715, 17840, 17848, 18028, 18142, 18246, 18305, 18384, 18417, 18423, 18430, 18476, 18488, 18595, 18615, 18631, 18635, 18690, 18691, 18704, 18734, 18739, 18746, 18748, 18926, 18935, 18970, 19029, 19058, 19192, 19196, 19300, 19345, 19369, 19382, 19454, 19467, 19505, 19595, 19611, 19618, 19629, 19651, 19683, 19700, 19703, 19720, 19759, 19774, 19824, 19825, 19862, 19896, 19976, 19977, 19978, 19985, 19996, 19998, 20012, 20013, 20042, 20079, 20084, 20086, 20109, 20199, 20221, 20227, 20229, 20232, 20242, 20245, 20246, 20247, 20256, 20265, 20269, 20270, 20271, 20272, 20290, 20295, 20307, 20310, 20312, 20316, 20329, 20331, 20333, 20335, 20343, 20362, 20366, 20381, 20395, 20400, 20406, 20430, 20431, 20433, 20437, 20443, 20452, 20457, 20463, 20465, 20467, 20468, 20486, 20494, 20509, 20510, 20512, 20514, 20521, 20527, 20545, 20547, 20548, 20551, 20564, 20566, 20570, 20573, 20586, 20590, 20601, 20605, 20620, 20643, 20652, 20655, 20656, 20657, 20660, 20664, 20665, 20666, 20668, 20670, 20673, 20674, 20682, 20687, 20688, 20693, 20696, 20697, 20699, 20700, 20701, 20703, 20704, 20705, 20707, 20711, 20713, 20715, 20717, 20719, 20720, 20721, 20722, 20723, 20724, 20728, 20729, 20731, 20734, 20735, 20737, 20738, 20739, 20743, 20757, 20758, 20765, 20767, 20768, 20769, 20773, 20774, 20775, 20776, 20779, 20783, 20785, 20789, 20790, 20795, 20803, 20806, 20807, 20809, 20810, 20812, 20815, 20822, 20823, 20824, 20826, 20827, 20830, 20831, 20835, 20837, 20838, 20840, 20844, 20848, 20851, 20852, 20854, 20857, 20858, 20861, 20862, 20867, 20870, 20875, 20879, 20880, 20884, 20886, 20888, 20893, 20899, 20903, 20904, 20906, 20909, 20912, 20917, 20920, 20923, 20924, 20926, 20928, 20929, 20930, 20931, 20932, 20934, 20944, 20951, 20952, 20960, 20961, 20963, 20967, 20968, 20969, 20971, 20992, 20994, 21002, 21007, 21008, 21029, 21052, 21069, 21071, 21079, 21085, 21095, 21097, 21114, 21120, 21128, 21134, 21149, 21165, 21176, 21183, 21184, 21196, 21211, 21221, 21227, 21237, 21287, 21288, 21289, 21294, 21300, 21305, 21310, 21317, 21324, 21350, 21364, 21387, 21396, 21415, 21418, 21422, 21457, 21472, 21550, 21578, 21597, 21608, 21633, 21642, 21655, 21672, 21688, 21696, 21709, 21712, 21741, 21772, 21791, 21810, 21883, 21933, 22099, 22239, 22266, 22331, 22434, 22506, 22518, 22634, 22669, 22717, 22914, 22935, 22974, 23176, 23234, 23308, 23393, 23394, 23395, 23399, 23400, 23411, 23416, 23455, 23480, 23521, 23530, 23531, 23547, 23566, 23576, 23588, 23597, 23601, 23603, 23620, 23633, 23652, 23658, 23667, 23678, 23707, 23716, 23720, 23740, 23765, 23781, 23785, 23786, 23813, 23842, 23852, 23854, 23857, 23879, 23881, 23890, 23920, 23928, 23966, 24012, 24035, 24048, 24063, 24064, 24085, 24098, 24120, 24166, 24178, 24194, 24225, 24234, 24235, 24237, 24279, 24292, 24306, 24307, 24309, 24312, 24314, 24328, 24338, 24347, 24353, 24359, 24360, 24364, 24365, 24376, 24381, 24383, 24401, 24402, 24409, 24418, 24437, 24439, 24461, 24468, 24471, 24506, 24518, 24534, 24543, 24547, 24555, 24575, 24580, 24591, 24617, 24642, 24661, 24663, 24668, 24679, 24717, 24724, 24750, 24753, 24754, 24762, 24787, 24803, 24805, 24815, 24868, 24876, 24882, 24886, 24905, 24986, 24987, 24990, 24994, 24998, 24999, 25022, 25026, 25087, 25101, 25168, 25175, 25205, 25237, 25248, 25251, 25253, 25271, 25284, 25302, 25312, 25328, 25346, 25400, 25411, 25458, 25474, 25479, 25501, 25515, 25588, 25600, 25610, 25644, 25653, 25679, 25681, 25687, 25692, 25694, 25708, 25725, 25735, 25877, 25912, 25916, 25985, 26050, 26080, 26084, 26170, 26258, 26284, 26296, 26418, 26537, 26549, 26657, 26659, 26697, 26775, 26783, 27001, 27034, 27093, 27131, 27149, 27161, 27166, 27194, 27241, 27250, 27264, 27288, 27329, 27375, 27520, 27533, 27534, 27565, 27597, 27607, 27608, 27715, 27724, 27728, 27732, 27739, 27743, 27748, 27749, 27752, 27754, 27763, 27775, 27781, 27794, 27798, 27813, 27824, 27826, 27836, 27840, 27843, 27844, 27846, 27857, 27859, 27862, 27864, 27870, 27878, 27883, 27891, 27899, 27903, 27904, 27910, 27919, 27920, 27922, 27927, 27929, 27932, 27935, 27936, 27940, 27943, 27946, 27949, 27950, 27958, 27959, 27964, 27968, 27970, 27975, 27978, 27985, 27987, 27989, 27991, 27994, 28001, 28012, 28019, 28029, 28032, 28033, 28034, 28036, 28037, 28038, 28044, 28047, 28049, 28050, 28060, 28064, 28069, 28083, 28092, 28096, 28097, 28098, 28105, 28106, 28123, 28126, 28133, 28137, 28139, 28152, 28157, 28162, 28164, 28168, 28169, 28174, 28179, 28187, 28192, 28206, 28212, 28217, 28223, 28229, 28234, 28235, 28236, 28237, 28242, 28247, 28258, 28264, 28275, 28279, 28281, 28283, 28284, 28285, 28289, 28292, 28299, 28301, 28302, 28309, 28319, 28320, 28321, 28327, 28332, 28333, 28335, 28342, 28346, 28349, 28354, 28363, 28369, 28378, 28381, 28383, 28384, 28385, 28386, 28388, 28389, 28392, 28397, 28398, 28402, 28403, 28405, 28409, 28411, 28423, 28425, 28431, 28432, 28434, 28443, 28446, 28461, 28464, 28481, 28487, 28488, 28492, 28497, 28501, 28504, 28505, 28515, 28529, 28532, 28534, 28535, 28536, 28538, 28543, 28545, 28557, 28561, 28566, 28567, 28569, 28572, 28577, 28587, 28593, 28596, 28598, 28599, 28611, 28612, 28615, 28631, 28633, 28649, 28650, 28654, 28665, 28669, 28678, 28679, 28681, 28686, 28688, 28693, 28697, 28703, 28707, 28709, 28711, 28716, 28720, 28726, 28733, 28734, 28739, 28742, 28750, 28759, 28761, 28766, 28783, 28789, 28792, 28794, 28797, 28802, 28810, 28823, 28830, 28832, 28845, 28848, 28851, 28855, 28861, 28863, 28864, 28888, 28900, 28903, 28904, 28917, 28920, 28922, 28926, 28929, 28930, 28935, 28936, 28937, 28941, 28945, 28961, 28975, 28986, 28987, 28990, 28999, 29003, 29006, 29008, 29009, 29021, 29025, 29028, 29032, 29034, 29037, 29050, 29064, 29067, 29068, 29072, 29077, 29079, 29081, 29089, 29091, 29099, 29103, 29106, 29109, 29113, 29115, 29117, 29119, 29125, 29126, 29133, 29140, 29142, 29143, 29151, 29154, 29156, 29158, 29161, 29166, 29167, 29170, 29185, 29195, 29197, 29213, 29214, 29226, 29227, 29237, 29240, 29241, 29249, 29257, 29260, 29267, 29268, 29271, 29272, 29283, 29299, 29303, 29309, 29311, 29313, 29315, 29316, 29317, 29321, 29322, 29327, 29331, 29335, 29341, 29346, 29347, 29349, 29351, 29353, 29357, 29365, 29367, 29368, 29374, 29377, 29381, 29382, 29394, 29395, 29402, 29404, 29407, 29410, 29411, 29422, 29429, 29430, 29432, 29442, 29448, 29449, 29455, 29462, 29464, 29470, 29472, 29477, 29484, 29485, 29494, 29506, 29512, 29514, 29518, 29523, 29526, 29528, 29529, 29530, 29532, 29536, 29544, 29548, 29557, 29562, 29582, 29585, 29587, 29588, 29590, 29596, 29598, 29599, 29610, 29619, 29625, 29632, 29633, 29636, 29637, 29647, 29654, 29660, 29664, 29666, 29667, 29688, 29692, 29693, 29696, 29704, 29706, 29711, 29714, 29715, 29718, 29722, 29723, 29724, 29726, 29740, 29743, 29745, 29749, 29754, 29772, 29774, 29778, 29797, 29802, 29804, 29812, 29817, 29823, 29824, 29838, 29850, 29857, 29864, 29867, 29870, 29873, 29881, 29888, 29892, 29895, 29909, 29922, 29926, 29927, 29928, 29936, 29941, 29945, 29950, 29953, 29957, 29964, 29965, 29968, 29974, 29975, 29977, 29980, 29987, 29998, 30002, 30009, 30012, 30015, 30017, 30021, 30022, 30029, 30034, 30040, 30041, 30049, 30051, 30054, 30055, 30056, 30058, 30076, 30081, 30086, 30087, 30092, 30093, 30094, 30100, 30101, 30110, 30111, 30117, 30118, 30122, 30147, 30149, 30159, 30167, 30169, 30172, 30173, 30174, 30190, 30195, 30203, 30212, 30219, 30225, 30227, 30236, 30238, 30242, 30245, 30264, 30268, 30270, 30272, 30273, 30277, 30288, 30289, 30290, 30291, 30292, 30296, 30298, 30315, 30317, 30320, 30322, 30332, 30339, 30349, 30355, 30357, 30365, 30368, 30377, 30378, 30389, 30393, 30398, 30399, 30405, 30406, 30412, 30417, 30419, 30420, 30424, 30433, 30437, 30440, 30449, 30453, 30454, 30462, 30481, 30498, 30506, 30522, 30531, 30563, 30632, 30646, 30722, 30730, 30744, 30745, 30773, 30780, 30791, 30916, 30956, 30964, 31032, 31145, 31204, 31257, 31299, 31350, 31409, 31410, 31411, 31418, 31499, 31514, 31541, 31602, 31614, 31684, 31711, 31712, 31715, 31718, 31728, 31782, 31797, 31820, 31826, 31854, 31878, 31889, 31907, 31922, 31955, 31970, 31990, 32020, 32049, 32058, 32059, 32068, 32084, 32104, 32107, 32126, 32136, 32157, 32167, 32188, 32193, 32229, 32230, 32232, 32240, 32254, 32257, 32266, 32273, 32282, 32288, 32296, 32306, 32317, 32494, 32519, 32585, 32617, 32729, 32764, 33129, 33183, 33242, 33243, 33254, 33263, 33270, 33271, 33277, 33280, 33284, 33291, 33295, 33300, 33304, 33314, 33316, 33329, 33332, 33333, 33335, 33351, 33356, 33369, 33373, 33375, 33377, 33378, 33379, 33380, 33382, 33383, 33384, 33396, 33411, 33419, 33426, 33429, 33430, 33434, 33438, 33441, 33448, 33449, 33462, 33464, 33466, 33469, 33481, 33486, 33488, 33492, 33497, 33500, 33502, 33507, 33509, 33510, 33512, 33513, 33514, 33517, 33519, 33525, 33530, 33531, 33534, 33543, 33553, 33554, 33555, 33650, 33678, 33695, 33818, 33827, 33888, 33939, 33941, 34004, 34073, 34094, 34142, 34151, 34257, 34263, 34368, 34396, 34416, 34606, 34619, 34654, 34678, 34682, 34771, 34865, 34969, 35058, 35060, 35066, 35068, 35075, 35093, 35107, 35115, 35116, 35125, 35134, 35142, 35145, 35159, 35160, 35168, 35171, 35176, 35179, 35184, 35189, 35193, 35203, 35210, 35212, 35214, 35218, 35229, 35231, 35238, 35239, 35240, 35249, 35250, 35253, 35254, 35255, 35256, 

<font color= "cian"> There is one outlier in `age` variable with the value 107. I decide to delete it.

In [175]:
outlier_list = list(outliers_data.index)
outlier_list

[34903]

In [150]:
df_clean = df_num.drop(outliers_data.index)
df_clean.shape

(98014, 5)

In [151]:
df_num.shape

(98015, 5)

<font color= "cian"> Here we see comparing `df_num` with `df_clean` and we delete one row. Just how we want.

In [ ]:
df_num.iloc[[34903]]

In [168]:
df_clean.iloc[[34903]]

       year  month  police   age  hispanic
35909  2013     11       0  78.0       100

In [ ]:
# create a function to check the outliers

_________________________________________

<font color= "cian"> How many gun deaths are there by race?

In [144]:
df["race"].value_counts()

White                             64598
Black                             22675
Hispanic                           8603
Asian/Pacific Islander             1261
Native American/Native Alaskan      878
Name: race, dtype: int64

In [145]:
df.stb.freq(["race"])

,race,count,percent,cumulative_count,cumulative_percent
0,White,64598,65.906239,64598,65.906239
1,Black,22675,23.134214,87273,89.040453
2,Hispanic,8603,8.777228,95876,97.817681
3,Asian/Pacific Islander,1261,1.286538,97137,99.104219
4,Native American/Native Alaskan,878,0.895781,98015,100.000000

<font color= "cian">  Mean age by race

In [146]:
mean_race = round(df.groupby(["race"])["age"].mean(),2)
mean_race

race
Asian/Pacific Islander            38.61
Black                             31.06
Hispanic                          33.14
Native American/Native Alaskan    36.49
White                             50.04
Name: age, dtype: float64

<font color= "cian"> Trying colors