# Guns in USA

https://www.atf.gov/resource-center/data-statistics

In [13]:
import pandas as pd
import numpy as np
import sidetable

<font color= "blue"> data from: https://fivethirtyeight.com/features/gun-deaths-about/

In [6]:
df = pd.read_csv("full_data.csv", index_col = 0)

In [7]:
df.head()

,year,month,intent,police,sex,age,race,hispanic,place,education
1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED

<font color= "blue"> Different categories or types of gun deaths

In [8]:
df["intent"].unique()

array(['Suicide', 'Undetermined', 'Accidental', 'Homicide', nan],
      dtype=object)

<font color= "cian"> Different categories or types of gun deaths

In [9]:
df["race"].unique()

array(['Asian/Pacific Islander', 'White',
       'Native American/Native Alaskan', 'Black', 'Hispanic'],
      dtype=object)

In [11]:
df.dtypes

year           int64
month          int64
intent        object
police         int64
sex           object
age          float64
race          object
hispanic       int64
place         object
education     object
dtype: object

In [12]:
df.describe(include="object")

         intent     sex    race  place education
count    100797  100798  100798  99414     99376
unique        4       2       5     10         4
top     Suicide       M   White   Home    HS/GED
freq      63175   86349   66237  60486     42927

<font color= "red"> How many gun death are there by race?

In [14]:
df["race"].value_counts()

White                             66237
Black                             23296
Hispanic                           9022
Asian/Pacific Islander             1326
Native American/Native Alaskan      917
Name: race, dtype: int64

In [15]:
df.stb.freq(["race"])

,race,count,percent,cumulative_count,cumulative_percent
0,White,66237,65.712613,66237,65.712613
1,Black,23296,23.111570,89533,88.824183
2,Hispanic,9022,8.950574,98555,97.774757
3,Asian/Pacific Islander,1326,1.315502,99881,99.090260
4,Native American/Native Alaskan,917,0.909740,100798,100.000000

<font color= "green"> Mean age by race

In [36]:
mean_race = round(df.groupby(["race"])["age"].mean(),2)
mean_race

race
Asian/Pacific Islander            38.62
Black                             31.10
Hispanic                          33.22
Native American/Native Alaskan    36.23
White                             50.01
Name: age, dtype: float64

<font color= "pink"> Trying colors